In [1]:
import pandas as pd

In [18]:
df = pd.read_excel('2020년 유초중등 학교별 학년별 학생수 학급수 입학 졸업 교원 직원 면적_210219.xlsx')

In [19]:
df_seoul = df[df['시도'] == '서울']
df_seoul

      시도  행정구   학교급              학교명  학생수_총계_계
0     서울  성북구  고등학교  서울대학교사범대학부설고등학교       717
1     서울  송파구  고등학교           가락고등학교       823
2     서울  강남구  고등학교           개포고등학교       622
3     서울  강남구  고등학교           경기고등학교      1156
4     서울  성북구  고등학교           경동고등학교       513
...   ..  ...   ...              ...       ...
2221  서울  성북구   중학교          성신여자중학교       602
2222  서울  강북구   중학교          성암여자중학교       475
2223  서울  강북구   중학교          창문여자중학교       416
2224  서울  성북구   중학교          한성여자중학교       445
2225  서울  강북구   중학교          영훈국제중학교       495

[2226 rows x 5 columns]

In [20]:
df_seoul_gu = pd.pivot_table(df_seoul, index = ['행정구','학교급'], aggfunc='sum')

In [27]:
df_seoul_gu

          학생수_총계_계
행정구 학교급
강남구 각종학교       346
    고등학교     17837
    방통고        361
    유치원       3260
    중학교      15602
...            ...
중구  초등학교      4990
중랑구 고등학교      6150
    유치원       2700
    중학교       6649
    초등학교     14554

[135 rows x 1 columns]